name: Java CI with Gradle

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.txt'
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.txt'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 17

      - name: Build (Forge)
        run: ./gradlew build
      - name: Build (NeoForge)
        run: ./gradlew --build-file build-neoforge.gradle build
      - name: Build (Fabric)
        run: ./gradlew --build-file build-fabric.gradle build

      - uses: actions/upload-artifact@v4
        with:
          name: MouseTweaks
          path: build/libs/
          if-no-files-found: error
